<p>
    <a href="{% url 'blogs:index' %}">Blog Homepage</a><!--Creates URL pattern using URL name variable in urls.py -->
    - <a href="{% url 'blogs:create_post' %}">Create New Post</a> // 
    {% if user.is_authenticated %}
        Hello, {{user.username}}
        <a href="{% url 'users:log_out' %}">log out</a>
    {% else %}
        <a href="{% url 'users:log_in' %}">log in</a>
        <a href="{% url 'users:register' %}">register</a>
    {% endif %}
</p>
<p>-Create your own blog posts!</p>
<p>-View blog posts from around the world!</p>
<hr>

{% block content %}
{% endblock content %}