{% extends 'blogs/base.html' %} <!--Inherits from base.html-->

{% block content %}

{% for blog in blogs %}
    <ul>
        <li>
            <p> <!-- Allows for one continuous line of text.-->
                {{blog.owner}} // {{blog.date}}
                {% if blog.owner == current_user %}
                // 
                <a href="{% url 'blogs:edit_post' blog.id %}">Edit</a>
                {% endif %}
                <p>
                    <a href="{% url 'blogs:blog_post' blog.id %}">{{blog}}</a> <!--Returns the __str__ value. Aka, the title.-->

                </p>
            </p> 
        </li> 
    </ul>
{% empty %}
    <p>There are no blogs posted.</p>
{% endfor %}
{% endblock content %}